@import '../../styles/main.scss';

.popular_container {
  display: flex;
  justify-content: center;
}

.follow_title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
}

.recipes_title {
  margin-top: 80px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 28px;
  padding: 0;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    margin-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    gap: 28px;
    width: 313px;
    margin-top: 40px;
  }
}
.card_item {
  width: 335px;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1200px) {
    width: 313px;
  }
}
.card_container {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    align-items: center;

    &:last-child() {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
  }
}
.container_img {
  display: flex;
  border-radius: 8px;
  margin-right: 14px;
  overflow: hidden;
  max-width: 90px;
  max-height: 90px;
}

.recipe_name {
  color: #f3f3f3;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}

.description {
  display: block;
  margin-top: 8px;
  color: rgba(243, 243, 243, 0.5);
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  height: 63px;
  line-height: 1.43;
}
