:root {
  --font: "Manrope", sans-serif;
  /* BG colors */
  --main-bg-color: #0a0a11;
  --secondary-bg-color: #161f37;
  /* select bg color */
  --select-bg-color: #434d67;
  /* text colors */
  --main-text-color: #f3f3f3;
  --secondary-text-color: rgba(243, 243, 243, 0.5);
  /* btn colors */
  --main-button-color: #f3f3f3;
  --accent-btn-color: #161f37;
  --disablet-btn-color: #434d67;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: var(--font);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

section {
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  section {
    padding-bottom: 140px;
  }
}

.conteiner {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .conteiner {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    padding-right: 100px;
    padding-left: 100px;
    max-width: 1440px;
  }
}

.card_recept {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 335px;
}
@media screen and (min-width: 768px) {
  .card_recept {
    align-items: center;
    width: 342px;
    max-width: 400px;
    margin-left: 20px;
    margin-top: 80px;
    /* outline: 2px solid rgb(255, 225, 0); */
  }
  .card_recept:nth-child(2n+1) {
    margin-left: 0px;
  }
  .card_recept:nth-child(-n+2) {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .card_recept {
    width: 400px;
    margin-left: 20px;
    margin-top: 80px;
    /* outline: 2px solid rgb(255, 225, 0); */
  }
  .card_recept:nth-child(2n+1) {
    margin-left: 20px;
  }
  .card_recept:nth-child(-n+2) {
    margin-top: 80px;
  }
  .card_recept:nth-child(3n+1) {
    margin-left: 0px;
  }
  .card_recept:nth-child(-n+3) {
    margin-top: 0px;
  }
}

.container_img {
  display: flex;
  border-radius: 8px;
  margin-bottom: 24px;
  overflow: hidden;
  max-width: 335px;
  max-height: 360px;
}
@media screen and (min-width: 768px) {
  .container_img {
    width: 342px;
    height: 360px;
    max-width: 400px;
    max-height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .container_img {
    width: 400px;
    height: 400px;
  }
}

.text_recipe {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.subtitle {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  text-align: left;
  font-size: 18px;
  line-height: 1.3333333333; /* 133.333% */
}
@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 24px;
    line-height: 1.3333333333; /* 133.333% */
  }
}

.ingredient_text {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2857142857; /* 112.5% */
}
@media screen and (min-width: 768px) {
  .ingredient_text {
    font-size: 16px;
    line-height: 1.125; /* 112.5% */
  }
}

.description_text {
  color: var(--main-text-color);
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  overflow: hidden;
  height: 75px;
  font-size: 14px;
  line-height: 1.2857142857; /* 137.5% */
  margin-top: 18px;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .description_text {
    font-size: 16px;
    line-height: 1.375; /* 137.5% */
    height: 110px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .description_text {
    height: 96px;
  }
}

.wrap_navigation {
  display: flex;
  margin-right: auto;
}/*# sourceMappingURL=recipeItem.module.css.map */