@import '../../styles/main.scss';

.wrapper {
  position: relative;
  z-index: 1;
  margin: 0 auto 39px;
  display: flex;
  justify-content: center;

  width: 80px;
  height: 80px;

  @media screen and (min-width: 768px) {
    margin-bottom: 66px;
    width: 100px;
    height: 100px;
  }
}
.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.addBtn {
  position: absolute;
  bottom: -12px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: filter 400ms;

  @media screen and (min-width: 768px) {
    bottom: -16px;
    width: 32px;
    height: 32px;
  }

  &:hover,
  &:focus {
    filter: contrast(150%);
  }
}

.file {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.label {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.field {
  width: 100%;
  padding: 18px 24px;
  border-radius: 42px;
  background-color: transparent;
  border: 1px solid var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.29;
  color: inherit;
  font-family: inherit;

  &:invalid {
    border: 1px solid #da1414;
    outline: none;
  }
  &:focus-visible:valid {
    border: 1px solid#3CBC81;
    outline: none;
  }
  &:valid {
    border: 1px solid var(--secondary-text-color);
    outline: none;
  }

  @media screen and (min-width: 768px) {
    font-size: 17px;
    line-height: 1.56;
    padding: 14px 24px;
  }

  &::placeholder {
    color: var(--secondary-text-color);
  }
}

.editIcon {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    right: 24px;
    width: 20px;
    height: 20px;
  }
}

.errorMessage {
  position: relative;
  top: -9px;
  left: 24px;
  color: #da1414;
  font-size: 12px;
  line-height: 1.17;
}

.button {
  position: relative;
  z-index: 1;
  padding: 17px 90px;
  border: none;
  border-radius: 42px;
  width: 100%;
  height: 54px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  font-family: inherit;
  cursor: pointer;
  color: var(--secondary-bg-color);
  background-color: var(--main-button-color);
  transition: background-color 400ms, color 400ms, border-color 400ms;

  &:hover,
  &:focus {
    border: 1px solid var(--select-bg-color);
    background-color: transparent;
    color: var(--main-text-color);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #434d67;
    color: rgba(243, 243, 243, 0.2);
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.13;
  }
}
