@import '../../styles/main.scss';

.field {
  margin-top: 58px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 112px;
    margin-bottom: 80px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 247px;
    margin-top: 132px;
    margin-bottom: 100px;
    max-width: 1400px;
  }

  &__glass {
    margin-bottom: 8px;
    color: var(--secondary-text-color);
    font-family: var(--font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__category{
    margin-bottom: 20px;
    color: var(--main-text-color);
    font-family: var(--font);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;

    @media screen and (min-width: 768px) {
      margin-bottom: 28px;
      font-size: 56px;
      line-height: 60px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 64px;
      line-height: 68px;
    } 
  }

  &__description{
    margin-bottom: 40px;
    color: var(--main-text-color);
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    @media screen and (min-width: 768px) {
      width: 593px;
      font-size: 16px;
      line-height: 22px;
    }

    @media screen and (min-width: 1200px) {
    width: 593px;
    }
  }

  &__button{
    margin-bottom: 80px;
    padding: 14px 40px;
    border-radius: 42px;
    color: var(--accent-btn-color);
    background: var(--main-text-color);
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
      background: var(--select-bg-color);
    }

    @media screen and (min-width: 768px) {
      padding: 18px 44px;
    }
    
    &_text{
      color: var(--accent-btn-color);
      font-family: var(--font);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover{
        color: var(--secondary-text-color);
      }

      @media screen and (min-width: 768px) {
        font-size: 16px;
      }
    }
  }

  &__img {
    width: 335px;
    height: 400px;
    flex-shrink: 0;

    @media screen and (min-width: 768px) {
      width: 704px;
      height: 400px;
      flex-shrink: 0;
    }

    @media screen and (min-width: 1200px) {
      width: 400px;
      height: 400px;
    }
  }
}

