@import '../../styles/main.scss';
.btn_link {
  display: flex;
  padding: 14px 40px;
  align-items: center;
  gap: 10px;
  border-radius: 42px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18px / 14px); /* 112.5% */
  margin-right: 8px;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    padding: 18px 44px;
    font-size: 16px;
    line-height: calc(18px / 16px); /* 112.5% */
  }
}
.btn_link_color_light {
  color: var(--accent-btn-color);
  background-color: var(--main-button-color);
  transition: var(--transition-btn), var(--transition-btn-color);
  &:hover,
  &:focus {
    background-color: var(--accent-btn-color);
    color: var(--main-button-color);
    transition: var(--transition-btn), var(--transition-btn-color);
  }
}
.btn_link_color_dark {
  background-color: var(--accent-btn-color);
  color: var(--main-button-color);
  transition: var(--transition-btn), var(--transition-btn-color);
  &:hover,
  &:focus {
    color: var(--accent-btn-color);
    background-color: var(--main-button-color);
    transition: var(--transition-btn), var(--transition-btn-color);
  }
}