@import '../../styles/main.scss';
.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-width: 375px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.wrap_main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 140px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: 1440px) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.wrap_main_empty {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 140px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 108px;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    gap: 108px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
  }
}
