@import '../../styles/main.scss';

.btnMain{
    background-color: white;
    height: 40px;
    padding: 10px;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    border-radius: 42px;
  
    cursor: pointer;
  
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 18px;
    }
}

.title{
  margin-bottom: 38px;
  margin-top: 38px;
display: block;
width: 430px;
  color: var(--main-text-color);
  font-feature-settings: 'liga' off;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 114%;
  letter-spacing: -0.56px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
  }
}
.text{
 
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 6px;
  margin-bottom: 25px;
  
}

