@import '../../styles/main.scss';
.section {
  position: relative;
}

.main_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 405px;
  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 100px;
    padding-right: 100px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
  }
}

.title {
  margin-bottom: 16px;
  margin-top: 128px;
  display: block;
  width: 715px;
  color: var(--main-text-color);
  font-feature-settings: 'liga' off;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 104%;
  letter-spacing: -0.36px;
  width: 279px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -0.02em;
    width: 483px;
    margin-top: 184px;
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 64px;
    line-height: 68px;
    margin-top: 160px;
    margin-bottom: 28px;
    width: 715px;
  }
}

.text {
  font-size: 14px;
  width: 266px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    width: 449px;
    margin-bottom: 40px;
  }
}

.btn_add {
  display: flex;
  width: 200px;
  height: 54px;
  margin-top: 40px;
}

.btn_other {
  display: flex;
  width: 200px;
  height: 54px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}

.main_foto {
  position: absolute;
  top: -118px;
  right: 0px;

  z-index: -2;
  //  margin-left: 200px;
  @media screen and (min-width: 768px) {
    right: 0px;
    top: -264px;
  }
  @media screen and (min-width: 1200px) {
    right: 0;
  }
}

.wrap_main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  margin-top: 316px;

  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 140px;
  }
}
