@import '../../styles/main.scss';
.wrap_main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 140px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: 1440px) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.wrap_main_empty {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 140px;
    /*width: 1440px;*/
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    gap: 108px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.container_pagination {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
