@import '../../styles/main.scss';

.field {
  margin-top: 58px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 112px;
    margin-bottom: 80px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    margin-top: 132px;
    margin-bottom: 100px;
    width: 1040px;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    gap: 247px;
    margin-top: 132px;
    margin-bottom: 100px;
    width: 1240px;
  }

  &__glass {
    margin-bottom: 8px;
    color: var(--secondary-text-color);
    font-family: var(--font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__drink {
    margin-bottom: 20px;
    color: var(--main-text-color);
    font-family: var(--font);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;

    @media screen and (min-width: 768px) {
      margin-bottom: 28px;
      font-size: 56px;
      line-height: 60px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 64px;
      line-height: 68px;
    }
  }

  &__description {
    margin-bottom: 40px;
    width: 335px;
    color: var(--main-text-color);
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    @media screen and (min-width: 768px) {
      width: 593px;
      font-size: 16px;
      line-height: 22px;
    }

    @media screen and (min-width: 1200px) {
      width: 593px;
    }
  }

  &__button {
    margin-bottom: 80px;
    padding: 14px 40px;
    border-radius: 42px;
    color: var(--accent-btn-color);
    background: var(--main-text-color);
    border: none;
    cursor: pointer;
    transition: var(--transition-btn);

    &:hover {
      background: var(--accent-btn-color);
      color: var(--main-text-color);
    }

    @media screen and (min-width: 768px) {
      padding: 18px 44px;
    }

    &_text {
      font-family: var(--font);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      transition: var(--transition-btn-color);

      &:hover {
        color: var(--main-text-color);
      }

      @media screen and (min-width: 768px) {
        font-size: 16px;
      }
    }
  }

  &__imageContainer {
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
  }

  &__img {
    width: 335px;
    height: auto;
    border-radius: 8px;

    @media screen and (min-width: 768px) {
      width: 704px;
    }

    @media screen and (min-width: 1200px) {
      width: 400px;
    }

    @media screen and (min-width: 1440px) {
      width: 400px;
    }
  }
}