:root {
  --font: 'Manrope', sans-serif;

  /* BG colors */
  --main-bg-color: #0a0a11;
  --secondary-bg-color: #161f37;

  /* select bg color */

  --select-bg-color: #434d67;

  /* text colors */

  --main-text-color: #f3f3f3;
  --secondary-text-color: rgba(243, 243, 243, 0.5);

  /* btn colors */

  --main-button-color: #f3f3f3;
  --accent-btn-color: #161f37;
  --disablet-btn-color: #434d67;

  /*transition*/

  --transition-btn: background-color 400ms, border-color 400ms;
}
