@import '../../styles/main.scss';

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 10, 17, 0.5);
}

.modal {
  position: relative;

  width: 335px;
  padding: 50px 25px;
  border-radius: 16px;
  background-color: var(--secondary-bg-color);

  @media screen and (min-width: 768px) {
    width: 500px;
    padding: 50px;
  }
}

.close {
  position: absolute;
  top: 14px;
  right: 14px;

  width: 24px;
  height: 24px;

  cursor: pointer;
  transition: filter 400ms;

  &:hover {
    filter: opacity(50%);
  }

  @media screen and (min-width: 768px) {
    top: 18px;
    right: 18px;
    width: 32px;
    height: 32px;
  }
}
