.editBtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  cursor: pointer;
  transition: opacity 400ms;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
.editIcon {
  width: 14px;
  height: 14px;
}
