.inputWrapper {
  position: relative;
  width: 100%;
  width: 200px;
  height: 50px;
  color: #f3f3f3;
  border:  1px solid rgba(243, 243, 243, 0.5);
  border-radius: 25px;
  padding-block: 16px;
}
.title {
  composes: inputWrapper;
  width: 200px;
  padding-inline: 18px;
  @media screen and (min-width: 768px) {
    width: 332px;
  }
  @media screen and (min-width: 1200px) {
    width: 316px;
  }
}
.measure {
  composes: inputWrapper;
  width: 101px;
  padding-inline: 12px;
  @media screen and (min-width: 768px) {
    width: 150px;
  }
}

.inputSelect {
  color:  rgba(243, 243, 243, 0.5);
  &:hover {
    border-bottom:#f3f3f3;
    color:  rgba(243, 243, 243);
  }

}
.selectedText {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    font-size: 17px;
  }
}
.selectedTextActive {
  transform: rotate(180deg);
  color:  rgba(243, 243, 243);
}

.selectOptionsListWrapper {
  position: absolute;
  right: 0;
  padding: 14px;
  background-color: #161f37;
  border-radius: 20px;
  z-index: 33;
}

.selectOptionsList {
  display: inline-flex;
  background-color: #161f37;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
  z-index: 33;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #434d67;
    border-radius: 20px;
  }
}
.selectOptionsItem {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  color: rgba(243, 243, 243, 0.5);
  cursor: pointer;
  z-index: 33;
  &:hover {
    color: #f3f3f3;
  }
}
