@import '../../styles/main.scss';

.FooterContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 28px;
  }

  @media screen and (min-width: 1280px) {
    gap: 40px;
  }
}

.block_bg_radial3 {
  z-index: -1;
  position: absolute;
  top: 25px;
  left: 13%;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: -195px 216px 147px 102px #4070cd;
}

.block_bg_radial4 {
  z-index: -1;
  position: absolute;
  top: 89%;
  left: 41%;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 0 121px 125px 104px #bce6d2;
}

.block_bg_radial5 {
  z-index: -1;
  position: absolute;
  bottom: 23%;
  right: -2%;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: -192px 216px 125px 112px #4070cd;
}

.footer {
  position: relative;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  border-top: 1px solid rgba(243, 243, 243, 0.2);

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-right: 32px;
    padding-left: 32px;
  }
  @media screen and (min-width: 1440px) {
    padding-right: 100px;
    padding-left: 100px;
  }
}

.footerMainContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  // justify-content: space-between;
  margin-bottom: 80px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.NavandSoc {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    gap: 40px;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    gap: 389px;
  }
}

.bottomString {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
  color: rgba(243, 243, 243, 0.5);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.24px;
  opacity: 0.9;
  padding-bottom: 18px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 18px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
    padding-bottom: 24px;
  }
}

.privacyAndTerms {
  display: flex;
  justify-content: flex-start;
  gap: 14px;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
    gap: 18px;
  }
}
