.search-icon {
  width: 16px;
  height: 16px;
  fill: #ccc;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 1;
}

.search-input-container {
  position: relative;
}

.searchInput {
  box-sizing: border-box;
  width: 264px;
  height: 56px;
  border-radius: 200px;
  border: 2px solid #f3f3f3;
  padding: 14px 0px 14px 24px;
}
.searchCategory {
  box-sizing: border-box;
  width: 199px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 200px;
  background: #161f37;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 14px 24px 14px 24px;

  color: #f3f3f3;
  font-family: Manrope;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 156%; /* 26.52px */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url(./chevron-down.svg);
  background-repeat: no-repeat;
  background-position: 155px;
}
.searchIngredient {
  box-sizing: border-box;
  width: 199px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 200px;
  background: #161f37;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 14px 24px 14px 24px;

  color: #f3f3f3;
  font-family: Manrope;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 156%; /* 26.52px */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url(./chevron-down.svg);
  background-repeat: no-repeat;
  background-position: 155px;
}
