@import '../../styles/main.scss';

.logoutBtn {
  padding: 12px 45px;
  border: none;
  border-radius: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  font-family: inherit;
  color: var(--secondary-bg-color);
  background-color: var(--main-button-color);
  cursor: pointer;
  transition: background-color 400ms, color 400ms, border-color 400ms;

  &:hover,
  &:focus {
    padding: 11px 44px;
    border: 1px solid var(--select-bg-color);
    background-color: transparent;
    color: var(--main-text-color);
  }
}

.title {
  margin-bottom: 25px;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}

.btnContainer {
  display: flex;
  gap: 8px;

  @media screen and (min-width: 768px) {
    gap: 12px;
  }
}
