@import '../../styles/main.scss';

.box {
  margin: auto;
  height: 100vh;

  position: relative;
  overflow: hidden;
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(
      0deg,
      rgba(10, 10, 17, 0.2) 0%,
      rgba(10, 10, 17, 0.2) 100%
    ),
    linear-gradient(1deg, #0a0a11 -0.56%, rgba(10, 10, 17, 0) 21.93%),
    linear-gradient(82deg, #0a0a11 11.89%, rgba(10, 10, 17, 0) 82.65%),
    url(../../img/edward-howell-unsplash-mob.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        0deg,
        rgba(10, 10, 17, 0.2) 0%,
        rgba(10, 10, 17, 0.2) 100%
      ),
      linear-gradient(1deg, #0a0a11 -0.56%, rgba(10, 10, 17, 0) 21.93%),
      linear-gradient(82deg, #0a0a11 11.89%, rgba(10, 10, 17, 0) 82.65%),
      url(../../img/edward-howell-unsplash-mob@2x.jpg);
  }

  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  @media screen and (min-width: 768px) {
    background: linear-gradient(
        0deg,
        rgba(10, 10, 17, 0.2) 0%,
        rgba(10, 10, 17, 0.2) 100%
      ),
      linear-gradient(1deg, #0a0a11 -0.56%, rgba(10, 10, 17, 0) 21.93%),
      linear-gradient(78deg, #0a0a11 14.73%, rgba(10, 10, 17, 0) 52.34%),
      url(../../img/edward-howell-unsplash-tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: linear-gradient(
          0deg,
          rgba(10, 10, 17, 0.2) 0%,
          rgba(10, 10, 17, 0.2) 100%
        ),
        linear-gradient(1deg, #0a0a11 -0.56%, rgba(10, 10, 17, 0) 21.93%),
        linear-gradient(78deg, #0a0a11 14.73%, rgba(10, 10, 17, 0) 52.34%),
        url(../../img/edward-howell-unsplash-tablet@2x.jpg);

      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }

    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  @media screen and (min-width: 1440px) {
    background: linear-gradient(
        0deg,
        rgba(10, 10, 17, 0.2) 0%,
        rgba(10, 10, 17, 0.2) 100%
      ),
      linear-gradient(1deg, #0a0a11 -0.56%, rgba(10, 10, 17, 0) 21.93%),
      linear-gradient(85deg, #060609 5.92%, rgba(10, 10, 17, 0) 51.07%),
      url(../../img/edward-howell-unsplash-dt.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(10, 10, 17, 0.2) 0%,
          rgba(10, 10, 17, 0.2) 100%
        ),
        linear-gradient(1deg, #0a0a11 -0.56%, rgba(10, 10, 17, 0) 21.93%),
        linear-gradient(85deg, #060609 5.92%, rgba(10, 10, 17, 0) 51.07%),
        url(../../img/edward-howell-unsplash-dt@2x.jpg);

      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }

    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
}

.example {
  width: 520px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 550px;
  background: rgba(64, 112, 205, 0.5);
  filter: blur(104.8543701171875px);

  position: absolute;
  top: 20px;
  left: -399px;
  z-index: -999;

  @media screen and (min-width: 768px) {
    border-radius: 829.931px;
    width: 784px;
    height: 830px;
    top: -50px;
    left: -665px;
  }

  @media screen and (min-width: 1440px) {
    border-radius: 849px;
    height: 849px;
    top: -231;
    left: -494px;
  }
}

.example {
  width: 520px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 550px;
  background: rgba(64, 112, 205, 0.5);
  filter: blur(104.8543701171875px);

  position: absolute;
  top: 20px;
  left: -399px;
  z-index: -999;

  @media screen and (min-width: 768px) {
    border-radius: 829.931px;
    width: 784px;
    height: 830px;
    top: -50px;
    left: -665px;
  }

  @media screen and (min-width: 1440px) {
    border-radius: 849px;
    height: 849px;
    top: -231;
    left: -494px;
  }
}

.example2 {
  width: 257px;
  height: 247px;
  flex-shrink: 0;
  border-radius: 257px;
  background: rgba(188, 230, 210, 0.4);
  filter: blur(104.8543701171875px);

  position: absolute;
  top: 84px;
  left: 102px;
  z-index: -999;

  @media screen and (min-width: 768px) {
    border-radius: 387px;
    width: 387px;
    height: 372px;
    top: 46px;
    left: 0px;
  }

  @media screen and (min-width: 1440px) {
    height: 381px;
    top: -132px;
    left: 171px;
  }
}

.example3 {
  width: 549px;
  height: 543px;
  flex-shrink: 0;
  border-radius: 549px;
  background: rgba(64, 112, 205, 0.5);
  filter: blur(104.8543701171875px);

  position: absolute;
  bottom: -229px;
  right: -505px;
  z-index: -999;

  @media screen and (min-width: 768px) {
    bottom: -17;
    right: -402px;
  }

  @media screen and (min-width: 1440px) {
    top: 231px;
    right: -290px;
  }
}

.example4 {
  @media screen and (min-width: 1440px) {
    width: 430px;
    height: 465px;
    flex-shrink: 0;
    border-radius: 465px;
    background: rgba(188, 230, 210, 0.4);
    filter: blur(104.8543701171875px);

    position: absolute;
    bottom: -462px;
    right: -258px;

    z-index: -999;
  }
}

.box_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  @media screen and (max-width: 375px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media screen and (min-width: 375px) {
    max-width: 335px;
  }

  @media screen and (min-width: 768px) {
    text-align: start;
    min-width: 400px;
    margin-left: 64px;
  }

  @media screen and (min-width: 1440px) {
    margin-left: 100px;
  }
}

.title {
  margin-bottom: 28px;

  color: var(--main-text-color);
  font-feature-settings: 'liga' off;
  font-family: var(--font);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 114%;
  letter-spacing: -0.56px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
  }
}

.text {
  text-align: center;
}

.link {
  color: var(--main-text-color);

  font-family: var(--font);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;

  cursor: pointer;
  text-decoration: underline;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 18px;
  }
}
